{{> navbar}}

<div class="flex gap-4 mt-4 flex-col md:flex-row mb-8">
    <img class="w-full h-[200px] object-cover rounded-md md:max-w-[450px]" src="/uploads/{{room.image}}" alt="">

    <div class="flex flex-col">
        <span class="font-light mb-2">{{room.location}}</span>
        <h1 class="text-xl font-bold mb-2">{{room.name}}</h1>
        <div class="flex items-center gap-2 mb-2">
            <span class="font-bold text-lg">$ {{room.rent}}</span>
            <small>/ month</small>
        </div>
        <div class="flex gap-2">
            {{#if room.owner.image}}
            <img class="w-11 h-11 object-cover rounded-full" src="/uploads/{{room.owner.image}}" alt="">
            {{^}}
            <img class="w-11 h-11 object-cover rounded-full"
                src="https://api.dicebear.com/6.x/initials/svg?seed={{room.owner.name}}" alt="">
            {{/if}}
            <div class="flex flex-col">
                <span class="font-semibold">{{room.owner.name}}</span>
                <small class="font-light">{{room.createdAt}}</small>
            </div>
        </div>
    </div>

    {{#if isOwner}}
    <a class="ml-auto" href="/remove-room/{{room.id}}">
        <button
            class="px-2 py-3 rounded-md border border-red-500 text-red-500 hover:text-white hover:bg-red-500 transition-all">
            Remove room
        </button>
    </a>
    {{/if}}
</div>

<div class="border-b border-gray-200 pb-4 mb-8">
    <h4 class="text-xl font-bold mb-2">About</h4>
    <p class="font-light leading-loose">{{room.description}}</p>
</div>

<div class="border-b border-gray-200 pb-4 mb-8">
    <h4 class="text-xl font-bold mb-2">Ammenities</h4>
    <div class="grid grid-cols-2 gap-4">
        {{#each room.ammenities}}
        <div class="flex items-center gap-2">
            <img src="/assets/check.png" class="w-5 h-5 object-contain" alt="">
            <span>{{name}}</span>
        </div>
        {{/each}}
    </div>
</div>

<div class="border-b border-gray-200 pb-4 mb-8">
    <h4 class="text-xl font-bold mb-2">House Rules</h4>
    <p class="font-light leading-loose">{{room.rules}}</p>
</div>

<div class="pb-4 mb-8">
    <h4 class="text-xl font-bold mb-2">Contact Details</h4>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex items-center gap-4">
            <img src="/assets/mail.png" class="w-7 h-7 object-contain" alt="">
            <span>{{room.owner.email}}</span>
        </div>
        {{#if room.owner.phone}}
        <div class="flex items-center gap-4">
            <img src="/assets/telephone.png" class="w-7 h-7 object-contain" alt="">
            <span>{{room.owner.phone}}</span>
        </div>
        {{/if}}
    </div>
</div>