{{> navbar}}

<div class="flex flex-col md:flex-row mb-8">
    {{#if roommate.owner.image}}
    <img class="w-full md:max-w-[300px] h-[200px] object-cover   rounded-md" src="/uploads/{{roommate.owner.image}}"
        alt="">
    {{^}}
    <img class="w-full md:max-w-[300px] h-[200px] object-cover   rounded-md"
        src="https://api.dicebear.com/6.x/initials/svg?seed={{roommate.owner.name}}" alt="">
    {{/if}}

    <div class="p-3">
        <span class="font-light mb-2 text-ellipsis">{{roommate.location}}</span>
        <h1 class="text-2xl font-bold">Hi I'm</h1>
        <h1 class="text-2xl font-bold mb-4 text-ellipsis line-clamp-2">{{roommate.name}}</h1>
        <div class="flex items-center gap-2 mb-2">
            <span class="font-bold text-lg">$ {{roommate.rent}}</span>
            <small>/ month</small>
        </div>
    </div>
</div>

<div class="border-b border-gray-200 pb-4 mb-8">
    <h4 class="text-xl font-bold mb-2">About</h4>
    <p class="font-light leading-loose">{{roommate.description}}</p>
</div>

<div class="border-b border-gray-200 pb-4 mb-8">
    <h4 class="text-xl font-bold mb-2">Ammenities</h4>
    <div class="grid grid-cols-2 gap-4">
        {{#each roommate.ammenities}}
        <div class="flex items-center gap-2">
            <img src="/assets/check.png" class="w-5 h-5 object-contain" alt="">
            <span>{{name}}</span>
        </div>
        {{/each}}
    </div>
</div>

<div class="border-b border-gray-200 pb-4 mb-8">
    <h4 class="text-xl font-bold mb-2">House Rules</h4>
    <p class="font-light leading-loose">{{roommate.rules}}</p>
</div>

<div class="pb-4 mb-8">
    <h4 class="text-xl font-bold mb-2">Contact Details</h4>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex items-center gap-4">
            <img src="/assets/mail.png" class="w-7 h-7 object-contain" alt="">
            <span>{{roommate.owner.email}}</span>
        </div>
        {{#if roommate.owner.phone}}
        <div class="flex items-center gap-4">
            <img src="/assets/telephone.png" class="w-7 h-7 object-contain" alt="">
            <span>{{roommate.owner.phone}}</span>
        </div>
        {{/if}}
    </div>
</div>