{{> home_layout}}

<div class="mt-8 gap-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 mb-4">
    {{#each roomsData}}
    <a class="w-full h-full" href="/room/detail/{{id}}">
        <div
            class="flex h-full w-full flex-col gap-4 shadow-md hover:shadow-lg rounded-md overflow-hidden cursor-pointer">
            <img class="w-full h-[300px] object-cover" src="{{image}}" alt="">

            <div class="flex flex-col p-3 flex-1">
                <span class="font-light mb-2 text-ellipsis line-clamp-1">{{location}}</span>
                <h1 class="text-xl font-bold mb-2 text-ellipsis line-clamp-1">{{name}}</h1>
                <div class="flex items-center gap-2 mb-2">
                    <span class="font-bold text-lg">$ {{rent}}</span>
                    <small>/ month</small>
                </div>


                <div class="flex gap-2">
                    {{#if owner.image}}
                    <img class="w-11 h-11 object-cover rounded-full" src="{{owner.image}}" alt="">
                    {{^}}
                    <img class="w-11 h-11 object-cover rounded-full"
                        src="https://api.dicebear.com/6.x/initials/svg?seed={{owner.name}}" alt="">
                    {{/if}}
                    <div class="flex flex-col">
                        <span class="font-semibold">{{owner.name}}</span>
                        <small class="font-light">{{createdAt}}</small>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {{/each}}

</div>