{{> navbar}}


<div class="flex flex-col md:flex-row mb-8">
    {{#if user.image}}
    <img class="w-full max-w-[400px] h-[200px] object-cover rounded-md" src="/uploads/{{user.image}}" alt="">
    {{^}}
    <img class="w-full max-w-[300px] h-[250px] object-cover rounded-md"
        src="https://api.dicebear.com/6.x/initials/svg?seed={{user.name}}" alt="">
    {{/if}}

    <div class="p-3">
        <span class="font-light mb-2">{{user.location}}</span>
        <h1 class="text-2xl font-bold">Hi I'm</h1>
        <h1 class="text-2xl font-bold mb-4">{{user.name}}</h1>
        <a href="/edit-profile">
            <button class="px-2 py-3 rounded-md border border-primary text-primary">
                Edit profile
            </button>
        </a>
        <a href="/logout">
            <button class="px-2 py-3 rounded-md text-white bg-red-500 transition-all">
                Log out
            </button>
        </a>
    </div>
</div>

<div class="border-b border-gray-200 pb-4 mb-8">
    <h4 class="text-xl font-bold mb-2">About</h4>
    <p class="font-light leading-loose">{{user.about}}</p>
</div>

<div class="border-b border-gray-200 pb-4 mb-8">
    <h4 class="text-xl font-bold mb-2">My Listed Rooms</h4>

    <div class="mt-8 flex gap-6 flex-col md:flex-row mb-4">

        {{#each user.rooms}}
        <a href="/room/detail/{{id}}">
            <div class="flex flex-col shadow-md hover:shadow-lg rounded-md overflow-hidden cursor-pointer">
                <img class="w-full max-w-[400px]" src="/uploads/{{image}}" alt="">

                <div class="flex flex-col p-3">
                    <span class="font-light mb-2">{{location}}</span>
                    <h1 class="text-xl font-bold mb-2">{{name}}</h1>
                    <div class="flex items-center gap-2 mb-2">
                        <span class="font-bold text-lg">$ {{rent}}</span>
                        <small>/ month</small>
                    </div>
                    <div class="flex gap-2 items-center">
                        {{#if owner.image}}
                        <img class="w-11 h-11 object-cover rounded-full" src="/uploads/{{owner.image}}" alt="">
                        {{^}}
                        <img class="w-11 h-11 object-cover rounded-full"
                            src="https://api.dicebear.com/6.x/initials/svg?seed={{owner.name}}" alt="">
                        {{/if}}
                        <div class="flex flex-col">
                            <span class="font-semibold">{{owner.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}


    </div>
</div>