{{> navbar}}

<form enctype="multipart/form-data" class="mb-4" action="/room/create-room" method="post">
    <h1 class="text-xl mb-8 font-bold">Create a new room</h1>

    {{#if error}}
    <div class="mb-4 p-3 border border-red-500 rounded-md text-red-500">
        <small>{{error}}</small>
    </div>
    {{/if}}

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="flex flex-col">
            <label for="">Where is room located?</label>
            <input type="text" name="location" class="px-2 py-3 bg-gray-100 rounded-md
         outline-none mt-2">

            {{#each errors}}
            {{#if location}}
            <small class="text-sm text-red-500">{{message}}</small>
            {{/if}}
            {{/each}}
        </div>

        <div class="flex flex-col h-[200px] md:h-full row-span-2">
            <label for="">Choose image</label>
            <div class="w-full hidden rounded-md overflow-hidden h-full" id="image-container">
                <img class="w-full h-full object-cover" id="show-room-image" src="" alt="">
            </div>
            <div id="choose-image-container"
                class="w-full h-full bg-gray-100 rounded-md flex items-center justify-center mt-2">
                <label for="room-image">
                    <img class="w-7 h-7 object-contain cursor-pointer" src="/assets/gallery.png" alt="">
                </label>
                <input id="room-image" type="file" name="image" class="px-2 py-3 bg-gray-100 rounded-md
         outline-none mt-2 hidden">
            </div>

            {{#each errors}}
            {{#if image}}
            <small class="text-sm text-red-500">{{message}}</small>
            {{/if}}
            {{/each}}
        </div>

        <div class="flex flex-col">
            <label for="">Room name or appartment name</label>
            <input type="text" name="name" class="px-2 py-3 bg-gray-100 rounded-md
         outline-none mt-2">
            {{#each errors}}
            {{#if name}}
            <small class="text-sm text-red-500">{{message}}</small>
            {{/if}}
            {{/each}}
        </div>

        <div class="flex flex-col">
            <label for="">Room rent(per month)</label>
            <input type="number" name="rent" class="px-2 py-3 bg-gray-100 rounded-md
         outline-none mt-2">
            {{#each errors}}
            {{#if rent}}
            <small class="text-sm text-red-500">{{message}}</small>
            {{/if}}
            {{/each}}
        </div>

        <div class="flex flex-col">
            <label for="">Ammenities(Space seperated)</label>
            <input type="text" name="ammenities" class="px-2 py-3 bg-gray-100 rounded-md
         outline-none mt-2">
            {{#each errors}}
            {{#if ammenities}}
            <small class="text-sm text-red-500">{{message}}</small>
            {{/if}}
            {{/each}}
        </div>

    </div>

    <div class="flex flex-col mt-8">
        <label for="">Description</label>
        <textarea name="description" class="px-2 py-3 bg-gray-100 rounded-md
         outline-none mt-2 h-[150px] resize-none"></textarea>
        {{#each errors}}
        {{#if description}}
        <small class="text-sm text-red-500">{{message}}</small>
        {{/if}}
        {{/each}}
    </div>

    <div class="flex flex-col mt-8">
        <label for="">House rules</label>
        <textarea name="rules" class="px-2 py-3 bg-gray-100 rounded-md
         outline-none mt-2 h-[150px] resize-none"></textarea>
        {{#each errors}}
        {{#if rules}}
        <small class="text-sm text-red-500">{{message}}</small>
        {{/if}}
        {{/each}}
    </div>

    <button type="submit" class="px-2 py-3 rounded-md bg-primary text-white mt-8 w-full md:w-fit ml-auto">
        Create room
    </button>
</form>